/* Reset básico para garantir consistência entre navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
  cursor: pointer;
}

body {
    background-color: #121214;
    color: #ffffff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; /* Remove a margem padrão */
}


.name-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Certifique-se de que o popup está acima de tudo */
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
    text-align: center;
}

.popup-content label,
.popup-content input {
    margin-bottom: 10px;
    display: block;
}

.popup-content p {
    font-size: 18px; /* Tamanho da fonte */
    color: #000000; /* Cor do texto */
    margin-bottom: 10px; /* Espaçamento abaixo do texto */
    text-align: center; /* Alinhamento do texto */
}

.popup-content input[type="text"] {
    width: 80%;  /* Aumenta a largura do campo de texto */
    padding: 10px; /* Adiciona padding para tornar o texto mais confortável para digitar */
    margin: auto; /* Centraliza o campo de texto dentro do popup */
    display: block; /* Garante que o input ocupe a própria linha */
}

.popup-content button {
    margin-top: 20px;  /* Espaço acima do botão */
    background-color: #4863f7;  /* Cor de fundo do botão */
    color: #ffffff;  /* Cor do texto */
    font-size: 16px;  /* Tamanho da fonte */
    font-weight: bold;  /* Peso da fonte */
    border: none;  /* Remove a borda */
    border-radius: 6px;  /* Arredonda os cantos do botão */
    height: 48px;  /* Altura do botão */
    padding: 0 32px;  /* Padding horizontal dentro do botão */
    transition: filter 0.1s;  /* Transição suave para o efeito de hover */
    cursor: pointer;  /* Muda o cursor para indicar que é clicável */
}


.button:focus, .popup-content input[type="text"]:focus {
    outline: none;
    border-color: #4863f7;
    box-shadow: 0 0 5px #4863f7;
}

.input-error {
    border: 2px solid #f44336;   /* Cor vermelha para destacar o erro */
}

#error-message {
    display: none;  /* Escondido inicialmente */
    color: #f44336;  /* Cor vermelha para destacar o erro */
    margin-top: 10px;  /* Espaçamento para separar do input */
    text-align: center;  /* Centraliza o texto */
}



.hide {
    display: none;  /* Garante que hide realmente esconde o elemento*/
}


.user-name-display {
    color: #ffffff;  /* Cor do texto */
    font-size: 22px;  /* Tamanho da fonte */
    margin-top: 10px; /* Reduz o espaço acima do texto de boas-vindas, se necessário */
    margin-bottom: 20px;  /* Espaço abaixo do texto */
    text-align: center;  /* Centraliza o texto */
}

#viewers {
    margin-bottom: 20px; /* Ajuste o valor conforme necessário para mais ou menos espaço */
}



/* Imagem do quiz com restrições claras para garantir tamanho menor */
.image-container {
    width: 200px; /* Largura fixa para todas as vistas */
    max-height: 150px; /* Altura máxima fixa */
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

#quiz-image {
    width: 100%;
    height: auto;
    display: block; /* Assegura que a imagem não tenha espaços extras ao redor */
    border-radius: 10px; /* Bordas arredondadas para a imagem */
}


.image-container::before {
    content: '';
    position: absolute;
    top: -10px; right: -10px; bottom: -10px; left: -10px;
    background: inherit;
    filter: blur(8px);  /* Ajuste o nível de desfoque conforme desejado */
    z-index: -1;
}


#quiz-image-wrapper {
    position: relative;
    display: inline-block;
}

#quiz-image-wrapper::after {
    content: '';
    position: absolute;
    top: -10px; right: -10px; bottom: -10px; left: -10px;
    background: inherit;
    filter: blur(10px);
    z-index: -1;
}




.controls-container {
    text-align: center; /* Centraliza o conteúdo do container */
    width: 100%; /* Garante que o container ocupe a largura total disponível */
    margin-top: 20px; /* Adiciona espaço entre a imagem e o botão */
}



.container {
    background-color: #121214;
    width: 90%;  /* A largura pode ser ajustada se necessário */
    max-width: 800px;  /* O máximo de largura do container */
    border: 2px solid #e1e1e6;  /* Ajustar ou remover essa borda se não for necessária */
    border-radius: 6px;
    padding: 16px;  /* Reduzir o padding pode diminuir o espaço interno */
    box-shadow: 0 0 2px 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
}


.questions-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.question {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.answers-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.next-question {
    margin-top: 32px;
}


.button {
    background-color: #4863f7;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    border: 0;
    border-radius: 6px;
    height: 48px;
    padding: 0 32px;
    transition: filter 0.1s;
}

.button:not(:disabled):hover {
    filter: brightness(0.8);
}

.answer:disabled {
    cursor: not-allowed;
}

/* Finish Game */

.final-message {
    font-size: 20px;
    text-align: center;
}

.final-message span {
    display: block;
    margin-top: 8px;
}

/* General Style */

.hide {
    display: none;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}


    .question {
        font-size: 18px; /* Tamanho de fonte menor para melhor leitura */
    }

    .answers-container {
        grid-template-columns: 1fr; /* Empilha os botões verticalmente */
    }

    .button {
        padding: 10px 20px; /* Ajuste para botões menores */
        font-size: 12px; /* Fonte mais pequena para economizar espaço */
    }

    .image-container {
        width: 80%; /* Utiliza mais espaço da tela em dispositivos pequenos */
        max-width: 140px; /* Ajuste para garantir que não fique muito pequeno */
        max-height: 90px; /* Ajusta a altura para pequenos dispositivos */
    }

    #quiz-image {
        margin-bottom: 15px; /* Ajuste a margem para manter espaço suficiente */
    }




/* Geral para todos os dispositivos */
.button:not(:disabled):hover {
    filter: brightness(0.9);
}

.answer:disabled {
    cursor: not-allowed;
    filter: grayscale(50%); /* Torna claro que o botão está desabilitado */
}

.correct {
    background-color: #4CAF50; /* Cor de fundo para resposta correta */
}

.incorrect {
    background-color: #f44336; /* Cor de fundo para resposta incorreta */
}


/* Ajustes para dispositivos grandes */
@media (min-width: 992px) {
    .image-container {
        width: 200px; /* Reduzindo a largura em grandes telas para torná-la menor */
        max-height: 150px;
    }
}

/* Ajustes para tablets */
@media (max-width: 768px) {
    .image-container {
        width: 180px; /* Redução adicional para tablets */
        max-height: 135px;
    }
}

/* Ajustes para dispositivos móveis */
@media (max-width: 480px) {
    .image-container {
        width: 160px; /* Redução para dispositivos móveis */
        max-height: 120px;
    }
}

@media (max-width: 768px) {
    #viewers {
        margin-bottom: 10px; /* Menor espaço em dispositivos móveis */
    }
}
