/* Reset básico para garantir consistência entre navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
  cursor: pointer;
}

body {
    background-color: #121214;
    color: #ffffff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.name-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Certifique-se de que o popup está acima de tudo */
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
    text-align: center;
}

.popup-content label,
.popup-content input {
    margin-bottom: 10px;
    display: block;
}

.popup-content p {
    font-size: 18px; /* Tamanho da fonte */
    color: #333; /* Cor do texto */
    margin-bottom: 10px; /* Espaçamento abaixo do texto */
    text-align: center; /* Alinhamento do texto */
}




.container {
    background-color: #121214;
    width: 90%;
    max-width: 800px;

    border: 2px solid #e1e1e6;
    border-radius: 6px;
    padding: 16px;
    box-shadow: 0 0 2px 2px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.questions-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.question {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.answers-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.next-question {
    margin-top: 32px;
}


.button {
    background-color: #4863f7;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    border: 0;
    border-radius: 6px;
    height: 48px;
    padding: 0 32px;
    transition: filter 0.1s;
}

.button:not(:disabled):hover {
    filter: brightness(0.8);
}

.answer:disabled {
    cursor: not-allowed;
}

/* Finish Game */

.final-message {
    font-size: 20px;
    text-align: center;
}

.final-message span {
    display: block;
    margin-top: 8px;
}

/* General Style */

.hide {
    display: none;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}


/* Estilos para tablets */
@media (max-width: 768px) {
    .button {
        padding: 12px 24px; /* Botões um pouco menores para economizar espaço */
        font-size: 14px; /* Fonte um pouco menor */
    }
}

/* Estilos para dispositivos móveis */
@media (max-width: 480px) {
    .container {
        width: 95%; /* Utiliza mais espaço da tela */
        padding: 10px; /* Padding reduzido para mais espaço */
    }

    .question {
        font-size: 18px; /* Tamanho de fonte menor para melhor leitura */
    }

    .answers-container {
        grid-template-columns: 1fr; /* Empilha os botões verticalmente */
    }

    .button {
        padding: 10px 20px; /* Ajuste para botões menores */
        font-size: 12px; /* Fonte mais pequena para economizar espaço */
    }
}


/* Geral para todos os dispositivos */
.button:not(:disabled):hover {
    filter: brightness(0.9);
}

.answer:disabled {
    cursor: not-allowed;
    filter: grayscale(50%); /* Torna claro que o botão está desabilitado */
}

.correct {
    background-color: #4CAF50; /* Cor de fundo para resposta correta */
}

.incorrect {
    background-color: #f44336; /* Cor de fundo para resposta incorreta */
}
